.categories {
  float: right;
  width: calc(100% - 200px);
  height: 100%;
  max-height: 100%;

  margin-top: 50px;
  background-color: #eee;

  table {
    width: 100%;
  }

  .aboveTable {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    .btn-wrapper {
      display: flex;
      justify-content: flex-end;
      margin: 1rem 0;

      .addBtn {
        font-size: 30px;
      }
    }
    .actionBtn {
      margin-left: 5px;
    }
  }

  mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
  }
}
